# Compiler files
cache/
out/
coverage/
lcov.info

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast/

# Docs
docs/

# Dotenv file
.env

# Old deployment files (no longer used)
script/deploy.js
script/deploy.sh
script/Deploy.s.sol

# Libraries
lib/

# Node modules
node_modules/
package-lock.json

# System files
.DS_Store
Thumbs.db
